Solutions/Okta Single Sign-On/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Microsoft - support@microsoft.com",
    "comments": "Solution template for Okta Single Sign-On"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    }
  },
  "variables": {
    "solutionId": "azuresentinel.azure-sentinel-solution-okta",
    "_solutionId": "[variables('solutionId')]",
    "OktaCustomConnector": "OktaCustomConnector",
    "_OktaCustomConnector": "[variables('OktaCustomConnector')]",
    "playbookVersion1": "1.0",
    "playbookContentId1": "OktaCustomConnector",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'-lc-',uniquestring(variables('_playbookContentId1')))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "blanks": "[replace('b', 'b', '')]",
    "Okta-EnrichIncidentWithUserDetails": "Okta-EnrichIncidentWithUserDetails",
    "_Okta-EnrichIncidentWithUserDetails": "[variables('Okta-EnrichIncidentWithUserDetails')]",
    "playbookVersion2": "1.0",
    "playbookContentId2": "Okta-EnrichIncidentWithUserDetails",
    "_playbookContentId2": "[variables('playbookContentId2')]",
    "playbookId2": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId2'))]",
    "playbookTemplateSpecName2": "[concat(parameters('workspace'),'-pl-',variables('_playbookContentId2'))]",
    "Okta-PromptUser": "Okta-PromptUser",
    "_Okta-PromptUser": "[variables('Okta-PromptUser')]",
    "playbookVersion3": "1.0",
    "playbookContentId3": "Okta-PromptUser",
    "_playbookContentId3": "[variables('playbookContentId3')]",
    "playbookId3": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId3'))]",
    "playbookTemplateSpecName3": "[concat(parameters('workspace'),'-pl-',variables('_playbookContentId3'))]",
    "Okta-ResponseFromTeams": "Okta-ResponseFromTeams",
    "_Okta-ResponseFromTeams": "[variables('Okta-ResponseFromTeams')]",
    "playbookVersion4": "1.0",
    "playbookContentId4": "Okta-ResponseFromTeams",
    "_playbookContentId4": "[variables('playbookContentId4')]",
    "playbookId4": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId4'))]",
    "playbookTemplateSpecName4": "[concat(parameters('workspace'),'-pl-',variables('_playbookContentId4'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "LogicAppsCustomConnector"
      },
      "properties": {
        "description": "OktaCustomConnector",
        "displayName": "OktaCustomConnector"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName1'),'/',variables('playbookVersion1'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "LogicAppsCustomConnector"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName1'))]"
      ],
      "properties": {
        "description": "OktaCustomConnector Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "CustomConnectorName": {
              "defaultValue": "OktaCustomConnector",
              "type": "String",
              "metadata": {
                "description": "Name of the okta Connector"
              }
            },
            "Service EndPoint": {
              "defaultValue": "https://{yourOktaDomain}",
              "type": "String",
              "metadata": {
                "description": "enter the okta endpoint (ex: https://{yourOktaDomain})"
              }
            }
          },
          "variables": {
            "operationId-GetUser": "GetUser",
            "_operationId-GetUser": "[[variables('operationId-GetUser')]",
            "operationId-UpdateUser": "UpdateUser",
            "_operationId-UpdateUser": "[[variables('operationId-UpdateUser')]",
            "operationId-SuspendUser": "SuspendUser",
            "_operationId-SuspendUser": "[[variables('operationId-SuspendUser')]",
            "operationId-UnsuspendUser": "UnsuspendUser",
            "_operationId-UnsuspendUser": "[[variables('operationId-UnsuspendUser')]",
            "operationId-ResetPassword": "ResetPassword",
            "_operationId-ResetPassword": "[[variables('operationId-ResetPassword')]",
            "operationId-GetUserGroups": "GetUserGroups",
            "_operationId-GetUserGroups": "[[variables('operationId-GetUserGroups')]",
            "operationId-ClearUserSessions": "ClearUserSessions",
            "_operationId-ClearUserSessions": "[[variables('operationId-ClearUserSessions')]",
            "operationId-RemoveMemberfromGroup": "RemoveMemberfromGroup",
            "_operationId-RemoveMemberfromGroup": "[[variables('operationId-RemoveMemberfromGroup')]",
            "operationId-AddUserToGroup": "AddUserToGroup",
            "_operationId-AddUserToGroup": "[[variables('operationId-AddUserToGroup')]",
            "operationId-ListGroupMembers": "ListGroupMembers",
            "_operationId-ListGroupMembers": "[[variables('operationId-ListGroupMembers')]",
            "operationId-ListUserFactors": "ListUserFactors",
            "_operationId-ListUserFactors": "[[variables('operationId-ListUserFactors')]",
            "operationId-ResetFactor": "ResetFactor",
            "_operationId-ResetFactor": "[[variables('operationId-ResetFactor')]",
            "operationId-ListGroups": "ListGroups",
            "_operationId-ListGroups": "[[variables('operationId-ListGroups')]",
            "operationId-ExpirePassword": "ExpirePassword",
            "_operationId-ExpirePassword": "[[variables('operationId-ExpirePassword')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "playbookContentId": "OktaCustomConnector",
            "playbookId": "[[resourceId('Microsoft.Web/customApis', parameters('CustomConnectorName'))]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/customApis",
              "apiVersion": "2016-06-01",
              "name": "[[parameters('CustomConnectorName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "connectionParameters": {
                  "api_key": {
                    "type": "securestring",
                    "uiDefinition": {
                      "displayName": "API Key",
                      "description": "The API Key for this api",
                      "tooltip": "Provide your API Key",
                      "constraints": {
                        "tabIndex": 2,
                        "clearText": false,
                        "required": "true"
                      }
                    }
                  }
                },
                "backendService": {
                  "serviceUrl": "[[parameters('Service EndPoint')]"
                },
                "brandColor": "#FFFFFF",
                "description": "This is the Okta Custom Connector",
                "displayName": "[[parameters('CustomConnectorName')]",
                "iconUri": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOAAAADhCAMAAADmr0l2AAAAYFBMVEVUrNL///9PqtFMqdCj0ueGxN55u9rx+PxEps/5+/3p9PlIqNCLxuBar9T2+/3R6fPd7va+3u3l8vhpttdvuNiWzOPI4++p1Oi02ep8v9zW6/SCv9y32urE4vCn0ubf7/Z7cYjhAAAO2UlEQVR4nN2d57qqOhCGwwQBCUWkiLrR+7/LTbGkJ2pwgd9z/pztorykTSaTCfJm1TYL4/2paOs6OAYpuint/6eu2+K0j8NsO+8boPluHZ66f/WmSgkhGABxAsAkImm1qf91p3C+t5gJMMv9c1UijAEJaAwmAoxRWZ39PJvnTdwDZvumTqPIhMZjRlFaN3v3lI4Bs/yQpATbkrHCJE0OrkvSKeCprlJsXW7SssRpVZ9cvpMzwPBao+jNouMKMkL11Vm34whw357BCd2NEc7t3s2bOQHMk/KzmikKcJnkLt7tc8C4KyPHdDfGqOziPweM29Jh1eSFy/ZTxA8BD+UshfcUlIe/A4zblMyLN4ikH5Xi+4DZP+c9i1x9f/Pv/dH/bcCm+grdjbFqvgy4O87TcyoJo+Pui4Chn87YdcqFU/8t6+YdwLz6TuNjBbh6Z+R/HTDefLd2UojR5vX+9GXApvp67XwKv97ZvApYp39UfJMgrWcFzKsvjOx6kRdb4kuA7d8W3yRI25kAs3oBeIPAf8GwsQfcBX9ePe8igf2obw2YzzktelW4tG6ItoD/ltD8noL0n1PA7EIWxdcTkotdQ7QCzPzFNL+niF1XYwOYHRdWfJPgaENoARgeF1h+g8jRYn5hBow3iyy/QWBhfBsB4/KvMXQqjYQmwHhut9lngtJUSw2A4XnRfEMtNRDqARfaf9Iy9aVawGyp/SctoifUAW6XMn3QC3xdHIMO8LAg81onrPPuawD/raB+TiIay1sNmC9r/qATpOrZkxJwt+wBkBWUyhmwCjD85tLD54JK1ZWqAOvVNMBJROVOVAD+W1X5DQJFRyMHPKXmOy5NqTy8Rgq4XVcDnASVdLyXAq6tAU6SN0MZYPfXr/quOjvAeI0VdBBUkumvBDBZiQkqCic2gM0qG+AkIi4fCoDZWivoIIlBIwD6q62gg7BvAjytZw4hEwjDPQ94XnUB9kV41gMWK+5hJpFCBxhWf/1+n6sKNYDrm0SI4qYVDOB+0W56W5V7JeBl9S1wELmoALMfqKCDIFMArnuMf4oZ7SnA/Zr8aDoB3QopwPZH+HrCVgYY/8AYeBc1MXwCrt+IeYoyZ56APzEG3lWKgE301y/lUlEjACY/08UMgoQH3K17HsjrOVLcAQ8/xdcTHljAcPnRBq8J7lFQN8Ddj1hpT+EdA1j/HmDNAP4cX09IA+Y/ZMXcRXIK8LcGwUm3oXAEdORrwjeJmTkkjyd3zdY6Ju/TCJi7WNCFsr4pMd8OkuKu2RYjp9iSEdCJL6Z62Ldm9zgElFdhriF48s0gV6M8pl09piBhCCjn5VwdwDTWD4B7FzWUcYQsAhCl+xtg52KmtEDAqLsBOnnCAgHHgWIAdDJTWiJgOgHGTubyCwREUTwCdk4GoiUCkm4EdDOTWCLgMKPoAQMnD1giIAQDoKM1syUCDitpyFXo8hIBh1Bn5BVubrZEQISKHvDgxpp/H3BD8FNuYcnBQ1vLThR6ofE/+XRPB3i7bLrB+A80YOE/VcuW8OBx8f3yx/0M6QVxvUVWUwmMqqTtdnGvXXc5VxJGDSDUeTxp35UiIK2tsBkMcLm5dKfh6mvXJhXqCzk4xXfpF237CQUKzZ0oRknDLOzvu0RAVAMCPZGarAolYMYBAk6KK/Popk7pRfhMb4aVIdqb8ADXsRAsvN0fOUQlILAbb6IXAAGOV/HRcU3dcWuwM/foavgLfFbkUjwdmdqhAsRs5onsBUASKJKrUO4AA2B0RfrwUIgOyg2IYU03cQUgUz+9e6CDFSBJLNLjGABJg/QLu6ksDPqhlvpLOSBXP73D7Z8tAOFgk/3XBFgg7R7B1JCAJ3+WoRSQq5+PDW0WgPyl7wFCrQMEZEww1GoB+fqZ3zsmC0DLjH9mwKPmV4uPeHl8cRGwH2aZvz09RiQjINSW2alNvehRA2j1kMfILALyGzWoRWQToHoz2euAynEeUqscX3uiAMQJ+5L0hj0G8Jo/1QTj75F1ml8ToMaM4feNbk91VZZBzW+2vGApIK5ZvowOlmZnEyh9aroXv0ln5wdlWdWNWK4mQB07U0GzIh1SFAPgKOiY59wipBhAP0LcO2Yb2ixgAXlzElI2v29znLJ2Y5IWfNV+HxAzsc8xNQADbBjCqZ9hAMOGT5fNLrHo54NsAW4Typ7AAZfb+H3AkrZxQzahE/uYqfMQdywwH4EtJT0gM/pmCftpuH0DbwMC/RWF7Vr4TFeVwAjYcvM2PSC1TtWXH1eBoWLK8H1Aegz0BWOA2Zs/2pc6wIafl2oBmW9bCPM9dnR9GzCl9m3vJcZORLWxE9EDnoSrtYCEtn8lC1+ErqTvAkJKfSaZU4PQRRhpASU78rWAETX+igU4TNMdAFLxiNKviIDeQjP0MkpA2Y58LSD21L9NcgAIm+c9rtK/oHvZwVxQAsq8dlpA6tvGUq87UI9+G5AqoEb6ByXVEo66EtzIapkl4FVqaQFlTM0GyAxWiQ4wdw9IPdoMKF+fp6toLv0DOj2GtgS9Rlwb+BCQqjwmwFQxXaJ7qlj6F/R4q22Dsq6QAeTy8ozrsjeF8jZIPdo8XQrkP9C9qOwzsr2oHlDSz9Cfh3d7EerKj3vRAMlvASn9iSX9YERNpjL9OOix3qnx9nQXxa/fRVQn2UgaMLOZ3OSySJQ+GaqniiXtlKpHXm4E9Fr+RWl7mgunZiaistpDG6Nmn4wiMxVji4pFGNGTKYkt2vDuKnZOwNqyIdsLAV1CotuWMA/a6tfG8EHlF2XmfBlvrGE601dWIR4wwXw+Ny4DMuuUuTKEbDo/PlqenciYIt1IgU7yMgba2vZCdnM2YdwRTSoADi6LhH0RLgkrZqZ1Ozb9esFeRyNg3l0ls1afik5oryhjNllZ6D+iQAFjNvvs5I0XnE70UDpoy9RSYNNOxD4hjzkVMO6qbYvuy6IApOY9Yf2EWFOGZI/U6SfZT7U7pmPEK0oT1mtwq1+i2xCfWbdjxnTYmCuJ8FKl6XDSG2JtsYG+vj86kHnb/BSpVoahjJEy2lfoFq/Fpa4PBZ/gq5Z71caSYCFixrEmpre5du3lMnSbzIRo0L471PWlUDgT4+7iK4qpClGmigFgW+EkiSf4pPKLIrGW0q4dVbK33XA/Ilnz0Xuh+ZH29pAkQ+qdu2CTQje8fzr54suZc/5SfR7Is7tm4w3TVw8GkxrMw0shTXIAZa6yp54JLBXLZ3wtpWa/RJLeZgAcrztbfFzmxtJJA/zrARt1vC82piP36Y8lARRq6Z7yP/GLhxSgrIm+AdjP6ZA2iaFpfYka21RL2Hw1oPd6Y0ku8BugsfpwV0oBhzkd8jJNMB6gi6ZtZ7Q7UR2EwOU3vVLdNm8NUIB9Gepq6eHIBF8oAINsiDbUhSUBJMqFLNZhoomT4cYb2nbCwnFKGbWIqFze6m1HwqbgkgNuxnDKVmuv4rSQIoact1oDyNc22nwEvqCegP395REQWTMc+wRpQRvEspBC0o6AJ0OwGtk0wnPCjj97SRvKxdZS9ldcHuhSpACHo5YKoRSz5m7z4ZoaTKSApyko3eS3ARRcmBq/8wMhSIzp9gTriKYXcoLgMnnWkoyZAQJwZ57u2+CJgsvnjzLAyJsAzdFqADg9Hoo8jpuih5Nuv4JDvB8VX8Xs47gs4unn+CQ6gvvbD5C7OA5DIaMGYBT4RRPHeXHYpNyjoWfshstkVXS0+AZAq4DK8WjnKBqOfVb8BY5ukpr3hNx/VpmGhJC0LKUOIDxeLTtxeji9N1JcNi4vDIC7xWyPVMVqWlwn+VeyuwH+UpoOWuNAMgAKHonf0BQGMfoYfyEZl6gpPdcI+DO5gGjdsj1MXuJfy4Mw6OYWmADXkrb/Fd28ZhNguJiBwp1ISAF6a86aKhfcglFugMVP5QMadF9cuAEu/HCeN3R3ad0Abfe/rEaPcKH7YmK3wuz2Oj2i6e+AWzfbJJciCLYcoMFxsTaRhzvwARj+VD8ahQLgzyTfHEQ5iJ6Aux/qZqh1oyfgD40UdEgpFXPiJG3OIkSvzNFBNUs/is9WTJASDZj/SEca5QrAH5n3sgvgDKB8mXR1ypWAP9GRcnve2Fz3P5BllI+d4I5jWH8R8hu7OMDQkFpg8QIufkk4MaRYOyB3noYAuPiDd/USw0+EU3vWbbCJ4VPiwVJLPHveVkQMOxYBw/U62GQnY0vOPpNvBFmFJPv+ZcfzidsF1yGQxcXLAFd2gutdUMmiaqQnSJoiZ5YpIo2XlR9yusbDQxSBg3JAZRjwcqUKqlOcw7u6xRhF/LD6JOXduqxuQKrDsJWHfa+rGaojd9XHta/J063ZGaYG5PdTLVjy8HYjYFytpAyx7PxdC0Bvt5KTikpVB2MCXMl6jGSHji2g16ygKwV96jA9oGyL+MJkSv1mAHSVIHc2KbZ42QOK24sXJcw70V4H1O1t+nOZ6qcV4IIJLfhsAPu+dJHtEAz9pz2gd1ri5InJpvAhoHcNFtfV4OBqfm9rQG8fLMzyxkfLTbCWgEMmgwVVU4DaNn2lLaDnXRbUmaYX8/u+DOh1SzFqQJ95+G3AwSG8AERQZl/9GNDLfPPzZ+dDkp3NrgCHMf+PxwtsNbq/D+jFyd8C2iQX/wjQ84ryzwoRl8bJgwNA77r5o0GfbOyMl08Bx3n+17tTAJu5gyNAL/a/PSZC6r/a+j4BHBIEqTYbz4IXCRkT5gb0vDz4Vj3th3aT52UOQC9rvzOJwkH70tDuDLC33Yp07ooKkZg8/HuAvQox6YNLPBS8PvK5BfSyYjNXWwTYyDOhfBWwRzxtyAxDPyGb08d4TgB7hYcqddrh4LRSn6bzktwADlle/FKXg+8VASl9yckL78kVoDckqDsqU428QBdFx+49o0Uqh4C9tl1S8SlfXmCDvmYmneVpL5ZyC9grzttzGb1+zB7gqDy3ucOym+QcsFcYn/zjlN/GhnNKxXM8nGI33QqrOQAnXTv/HJRjakyQGQMwZjpCaRmc/e6NiZ6l5gMclF3zovXrY1WmhFNaVsfab4v86qq/lGtewEnbMBwzVjXFTc2QvCoOQ7fdiVz/AaHTvVGGDIbCAAAAAElFTkSuQmCC",
                "swagger": {
                  "swagger": "2.0",
                  "info": {
                    "title": "Default title",
                    "description": "This is a okta connector",
                    "version": "1.0"
                  },
                  "host": "$substring([parameters('Service EndPoint')],8 )",
                  "basePath": "/",
                  "schemes": [
                    "https"
                  ],
                  "paths": {
                    "/api/v1/users/{userId}": {
                      "get": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "User ID",
                                  "title": "id"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "User Status",
                                  "title": "status"
                                },
                                "created": {
                                  "type": "string",
                                  "description": "Created date time",
                                  "title": "created"
                                },
                                "activated": {
                                  "type": "string",
                                  "description": "This indicate the user status",
                                  "title": "activated"
                                },
                                "statusChanged": {
                                  "type": "string",
                                  "description": "user changed the status",
                                  "title": "statusChanged"
                                },
                                "lastLogin": {
                                  "type": "string",
                                  "description": "lastLogin",
                                  "title": "lastLogin"
                                },
                                "lastUpdated": {
                                  "type": "string",
                                  "description": "Last  time updated date time",
                                  "title": "lastUpdated"
                                },
                                "passwordChanged": {
                                  "type": "string",
                                  "description": "When user changed the password",
                                  "title": "passwordChanged"
                                },
                                "profile": {
                                  "type": "object",
                                  "properties": {
                                    "firstName": {
                                      "type": "string",
                                      "description": "User FirstName",
                                      "title": "firstName"
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "User last name",
                                      "title": "lastName"
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "User email",
                                      "title": "email"
                                    },
                                    "login": {
                                      "type": "string",
                                      "description": "User Login ID",
                                      "title": "login"
                                    },
                                    "mobilePhone": {
                                      "type": "string",
                                      "description": "Mobile number of the user",
                                      "title": "mobilePhone"
                                    }
                                  },
                                  "description": "profile"
                                },
                                "credentials": {
                                  "type": "object",
                                  "properties": {
                                    "password": {
                                      "type": "object",
                                      "description": "password"
                                    },
                                    "recovery_question": {
                                      "type": "object",
                                      "properties": {
                                        "question": {
                                          "type": "string",
                                          "description": "question"
                                        }
                                      },
                                      "description": "recovery_question"
                                    },
                                    "provider": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "type"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "User name",
                                          "title": "name"
                                        }
                                      },
                                      "description": "provider"
                                    }
                                  },
                                  "description": "credentials"
                                }
                              }
                            }
                          }
                        },
                        "operationId": "[[variables('_operationId-GetUser')]",
                        "summary": "Get User",
                        "description": "Action used to fetch user details",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)",
                            "x-ms-summary": "userId"
                          }
                        ]
                      },
                      "put": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "User ID",
                                  "title": "id"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "User status",
                                  "title": "status"
                                },
                                "created": {
                                  "type": "string",
                                  "description": "User created date and time",
                                  "title": "created"
                                },
                                "activated": {
                                  "type": "string",
                                  "description": "User status",
                                  "title": "activated"
                                },
                                "statusChanged": {
                                  "type": "string",
                                  "description": "User status changed",
                                  "title": "statusChanged"
                                },
                                "lastLogin": {
                                  "type": "string",
                                  "description": "Last login data and time",
                                  "title": "lastLogin"
                                },
                                "lastUpdated": {
                                  "type": "string",
                                  "description": "Last updated data and time",
                                  "title": "lastUpdated"
                                },
                                "passwordChanged": {
                                  "type": "string",
                                  "description": "user changed password",
                                  "title": "passwordChanged"
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "User Unique id",
                                      "title": "id"
                                    }
                                  },
                                  "description": "type"
                                },
                                "profile": {
                                  "type": "object",
                                  "properties": {
                                    "login": {
                                      "type": "string",
                                      "description": "User's Login ID",
                                      "title": "login"
                                    },
                                    "firstName": {
                                      "type": "string",
                                      "description": "User's Firstname",
                                      "title": "firstName"
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "User's Last name",
                                      "title": "lastName"
                                    },
                                    "nickName": {
                                      "type": "string",
                                      "description": "User nick name",
                                      "title": "nickName"
                                    },
                                    "displayName": {
                                      "type": "string",
                                      "description": "User display name",
                                      "title": "displayName"
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "User email",
                                      "title": "email"
                                    },
                                    "secondEmail": {
                                      "type": "string",
                                      "description": "User alternate email",
                                      "title": "secondEmail"
                                    },
                                    "profileUrl": {
                                      "type": "string",
                                      "description": "User profile URL",
                                      "title": "profileUrl"
                                    },
                                    "preferredLanguage": {
                                      "type": "string",
                                      "description": "User language which preferred",
                                      "title": "preferredLanguage"
                                    },
                                    "userType": {
                                      "type": "string",
                                      "description": "Type of the user",
                                      "title": "userType"
                                    },
                                    "organization": {
                                      "type": "string",
                                      "description": "User working organization",
                                      "title": "organization"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "title"
                                    },
                                    "division": {
                                      "type": "string",
                                      "description": "User division which he/she belonging",
                                      "title": "division"
                                    },
                                    "department": {
                                      "type": "string",
                                      "description": "Department of the user which he belonging",
                                      "title": "department"
                                    },
                                    "costCenter": {
                                      "type": "string",
                                      "description": "[variables('blanks')]",
                                      "title": "costCenter"
                                    },
                                    "employeeNumber": {
                                      "type": "string",
                                      "description": "[variables('blanks')]",
                                      "title": "employeeNumber"
                                    },
                                    "mobilePhone": {
                                      "type": "string",
                                      "description": "User contact number",
                                      "title": "mobilePhone"
                                    },
                                    "primaryPhone": {
                                      "type": "string",
                                      "description": "User primary contact",
                                      "title": "primaryPhone"
                                    },
                                    "streetAddress": {
                                      "type": "string",
                                      "description": "Address of the user",
                                      "title": "streetAddress"
                                    },
                                    "city": {
                                      "type": "string",
                                      "description": "City of the User",
                                      "title": "city"
                                    },
                                    "state": {
                                      "type": "string",
                                      "description": "User State",
                                      "title": "state"
                                    },
                                    "zipCode": {
                                      "type": "string",
                                      "description": "User address zipcode",
                                      "title": "zipCode"
                                    },
                                    "countryCode": {
                                      "type": "string",
                                      "description": "User country code where is living",
                                      "title": "countryCode"
                                    }
                                  },
                                  "description": "profile"
                                },
                                "credentials": {
                                  "type": "object",
                                  "properties": {
                                    "password": {
                                      "type": "object",
                                      "description": "password"
                                    },
                                    "recovery_question": {
                                      "type": "object",
                                      "properties": {
                                        "question": {
                                          "type": "string",
                                          "description": "question"
                                        }
                                      },
                                      "description": "recovery_question"
                                    },
                                    "provider": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Enities",
                                          "title": "type"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "User name",
                                          "title": "name"
                                        }
                                      },
                                      "description": "provider"
                                    }
                                  },
                                  "description": "credentials"
                                }
                              }
                            }
                          }
                        },
                        "summary": "Update User",
                        "x-ms-visibility": "important",
                        "operationId": "[[variables('_operationId-UpdateUser')]",
                        "description": "Action used to updates user's profile or credentials using strict-update semantics",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/lifecycle/suspend": {
                      "post": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "Response": {
                                  "type": "string",
                                  "description": "Response"
                                },
                                "StatusCode": {
                                  "type": "string",
                                  "description": "StatusCode"
                                }
                              }
                            }
                          }
                        },
                        "summary": "Suspend User",
                        "operationId": "[[variables('_operationId-SuspendUser')]",
                        "description": "Action uses to suspend existing user and returns them to the \"De-active\" state",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/lifecycle/unsuspend": {
                      "post": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "Response": {
                                  "type": "string",
                                  "description": "Response"
                                },
                                "StatusCode": {
                                  "type": "string",
                                  "description": "StatusCode"
                                }
                              }
                            }
                          }
                        },
                        "summary": "Unsuspend User",
                        "operationId": "[[variables('_operationId-UnsuspendUser')]",
                        "description": "Action uses to unsuspend a user and returns them to the ACTIVE state",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/lifecycle/reset_password": {
                      "post": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "resetPasswordUrl": {
                                  "type": "string",
                                  "description": "resetPasswordUrl"
                                }
                              }
                            }
                          }
                        },
                        "operationId": "[[variables('_operationId-ResetPassword')]",
                        "description": "Action used to resets password with a temp password or password link.",
                        "summary": "Reset Password",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          },
                          {
                            "name": "sendEmail",
                            "in": "query",
                            "required": false,
                            "type": "boolean",
                            "default": false,
                            "description": "If  sendEmail is false, returns a link for the user to reset their password."
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/groups": {
                      "get": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "profile": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "description": "name"
                                      },
                                      "description": {
                                        "type": "string",
                                        "description": "description"
                                      }
                                    },
                                    "description": "profile"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "operationId": "[[variables('_operationId-GetUserGroups')]",
                        "description": "Action used fetch groups detail of the particular user",
                        "summary": "Get User Groups",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/sessions": {
                      "delete": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "Response": {
                                  "type": "string",
                                  "description": "Response"
                                },
                                "StatusCode": {
                                  "type": "string",
                                  "description": "StatusCode"
                                }
                              }
                            }
                          }
                        },
                        "summary": "Clear User Sessions",
                        "operationId": "[[variables('_operationId-ClearUserSessions')]",
                        "description": "Action used to clear/delete all provider sessions",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      }
                    },
                    "/api/v1/groups/{groupId}/users/{userId}": {
                      "delete": {
                        "responses": {
                          "default": {
                            "description": "default"
                          }
                        },
                        "summary": "Group-RemoveMember",
                        "description": "Action used to remove/delete existing member from group",
                        "operationId": "[[variables('_operationId-RemoveMemberfromGroup')]",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "groupId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter group id (Unique identifier of the  group)"
                          },
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      },
                      "put": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "Response": {
                                  "type": "string",
                                  "description": "Response"
                                },
                                "StatusCode": {
                                  "type": "string",
                                  "description": "StatusCode"
                                }
                              }
                            }
                          }
                        },
                        "summary": "Group – Add member",
                        "description": "Action used to add new user to the group",
                        "operationId": "[[variables('_operationId-AddUserToGroup')]",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "groupId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter group id (Unique identifier of the group)"
                          },
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          }
                        ]
                      }
                    },
                    "/api/v1/groups/{groupId}/users": {
                      "get": {
                        "responses": {
                          "default": {
                            "description": "default"
                          }
                        },
                        "summary": "ListGroupMembers",
                        "description": "Action used to list all the member group",
                        "operationId": "[[variables('_operationId-ListGroupMembers')]",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "groupId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter group id (Unique identifier of the  group)"
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/factors": {
                      "get": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Factor ID",
                                    "title": "id"
                                  },
                                  "factorType": {
                                    "type": "string",
                                    "description": "Type of the factor",
                                    "title": "factorType"
                                  },
                                  "provider": {
                                    "type": "string",
                                    "description": "Provider Name",
                                    "title": "provider"
                                  },
                                  "vendorName": {
                                    "type": "string",
                                    "description": "Vendor Name",
                                    "title": "vendorName"
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Factor Status",
                                    "title": "status"
                                  },
                                  "created": {
                                    "type": "string",
                                    "description": "created date",
                                    "title": "created"
                                  },
                                  "lastUpdated": {
                                    "type": "string",
                                    "description": "Last updated date",
                                    "title": "lastUpdated"
                                  },
                                  "profile": {
                                    "type": "object",
                                    "properties": {
                                      "question": {
                                        "type": "string",
                                        "description": "question"
                                      },
                                      "questionText": {
                                        "type": "string",
                                        "description": "questionText"
                                      },
                                      "credentialId": {
                                        "type": "string",
                                        "description": "User login ID",
                                        "title": "credentialId"
                                      },
                                      "phoneNumber": {
                                        "type": "string",
                                        "description": "Contact Number",
                                        "title": "phoneNumber"
                                      }
                                    },
                                    "description": "profile"
                                  },
                                  "_links": {
                                    "type": "object",
                                    "properties": {
                                      "questions": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "description": "href"
                                          },
                                          "hints": {
                                            "type": "object",
                                            "properties": {
                                              "allow": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "allow"
                                              }
                                            },
                                            "description": "hints"
                                          }
                                        },
                                        "description": "questions"
                                      },
                                      "self": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "description": "href"
                                          },
                                          "hints": {
                                            "type": "object",
                                            "properties": {
                                              "allow": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "allow"
                                              }
                                            },
                                            "description": "hints"
                                          }
                                        },
                                        "description": "self"
                                      },
                                      "user": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "description": "href"
                                          },
                                          "hints": {
                                            "type": "object",
                                            "properties": {
                                              "allow": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "allow"
                                              }
                                            },
                                            "description": "hints"
                                          }
                                        },
                                        "description": "user"
                                      },
                                      "next": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "User factors name",
                                            "title": "name"
                                          },
                                          "href": {
                                            "type": "string",
                                            "description": "href"
                                          },
                                          "hints": {
                                            "type": "object",
                                            "properties": {
                                              "allow": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "allow"
                                              }
                                            },
                                            "description": "hints"
                                          }
                                        },
                                        "description": "next"
                                      },
                                      "verify": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "description": "href"
                                          },
                                          "hints": {
                                            "type": "object",
                                            "properties": {
                                              "allow": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "allow"
                                              }
                                            },
                                            "description": "hints"
                                          }
                                        },
                                        "description": "verify"
                                      }
                                    },
                                    "description": "_links"
                                  },
                                  "_embedded": {
                                    "type": "object",
                                    "properties": {
                                      "activation": {
                                        "type": "object",
                                        "properties": {
                                          "timeStep": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Time Stamp",
                                            "title": "timeStep"
                                          },
                                          "sharedSecret": {
                                            "type": "string",
                                            "description": "Share Secret",
                                            "title": "sharedSecret"
                                          },
                                          "encoding": {
                                            "type": "string",
                                            "description": "Encoding format",
                                            "title": "encoding"
                                          },
                                          "keyLength": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "key Length",
                                            "title": "KeyLength"
                                          }
                                        },
                                        "description": "activation"
                                      }
                                    },
                                    "description": "_embedded"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "summary": "List User Factors",
                        "operationId": "[[variables('_operationId-ListUserFactors')]",
                        "description": "Action used  to fetch all the factors which user belonging",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)",
                            "x-ms-summary": "[variables('blanks')]"
                          }
                        ]
                      }
                    },
                    "/api/v1/users/{userId}/factors/{factorId}": {
                      "delete": {
                        "responses": {
                          "default": {
                            "description": "default"
                          }
                        },
                        "summary": "Reset Factor",
                        "description": "Action used to reset the factor object of  the user",
                        "operationId": "[[variables('_operationId-ResetFactor')]",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)",
                            "x-ms-visibility": "important"
                          },
                          {
                            "name": "factorId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter factor id (Unique identifier of the  factor)",
                            "x-ms-visibility": "important"
                          }
                        ]
                      }
                    },
                    "/api/v1/groups": {
                      "get": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Group ID",
                                  "title": "id"
                                },
                                "created": {
                                  "type": "string",
                                  "description": "Group Created date",
                                  "title": "created"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the Group",
                                  "title": "type"
                                },
                                "profile": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Group Name",
                                      "title": "name"
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Description of the group",
                                      "title": "description"
                                    }
                                  },
                                  "description": "profile"
                                }
                              }
                            }
                          }
                        },
                        "summary": "List Groups",
                        "description": "Action used to fetch list of group details",
                        "operationId": "[[variables('_operationId-ListGroups')]",
                        "x-ms-visibility": "important"
                      }
                    },
                    "/api/v1/users/{userID}/lifecycle/expire_password": {
                      "post": {
                        "responses": {
                          "default": {
                            "description": "default",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "User Id",
                                  "title": "id"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "status"
                                },
                                "created": {
                                  "type": "string",
                                  "description": "User created date",
                                  "title": "created"
                                },
                                "activated": {
                                  "type": "string",
                                  "description": "activated"
                                },
                                "statusChanged": {
                                  "type": "string",
                                  "description": "user status changed",
                                  "title": "statusChanged"
                                },
                                "lastLogin": {
                                  "type": "string",
                                  "description": "Last login date",
                                  "title": "lastLogin"
                                },
                                "lastUpdated": {
                                  "type": "string",
                                  "description": "lastUpdated"
                                },
                                "passwordChanged": {
                                  "type": "string",
                                  "description": "passwordChanged"
                                },
                                "profile": {
                                  "type": "object",
                                  "properties": {
                                    "firstName": {
                                      "type": "string",
                                      "description": "User First Name",
                                      "title": "firstName"
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "User Last Name",
                                      "title": "lastName"
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "User Email",
                                      "title": "email"
                                    },
                                    "login": {
                                      "type": "string",
                                      "description": "User login id",
                                      "title": "login"
                                    },
                                    "mobilePhone": {
                                      "type": "string",
                                      "description": "User contact number",
                                      "title": "mobilePhone"
                                    }
                                  },
                                  "description": "profile"
                                },
                                "credentials": {
                                  "type": "object",
                                  "properties": {
                                    "password": {
                                      "type": "object",
                                      "description": "password"
                                    },
                                    "recovery_question": {
                                      "type": "object",
                                      "properties": {
                                        "question": {
                                          "type": "string",
                                          "description": "question"
                                        }
                                      },
                                      "description": "recovery_question"
                                    },
                                    "provider": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Type of the user",
                                          "title": "type"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "User name",
                                          "title": "name"
                                        }
                                      },
                                      "description": "provider"
                                    }
                                  },
                                  "description": "credentials"
                                }
                              }
                            }
                          }
                        },
                        "summary": "Expire Password",
                        "operationId": "[[variables('_operationId-ExpirePassword')]",
                        "description": "Action used to change the existing password when current password expired",
                        "x-ms-visibility": "important",
                        "parameters": [
                          {
                            "name": "userID",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Please enter user id (Unique identifier of the user)"
                          },
                          {
                            "name": "tempPassword",
                            "in": "query",
                            "required": false,
                            "type": "string",
                            "default": false,
                            "description": "If tempPassword is included in the request, the user's password is reset to a temporary password that is returned, and then the temporary password is expired"
                          }
                        ]
                      }
                    }
                  },
                  "securityDefinitions": {
                    "API Key": {
                      "type": "apiKey",
                      "in": "header",
                      "name": "Authorization"
                    }
                  },
                  "security": [
                    {}
                  ]
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[[concat(variables('workspace-name'),'/Microsoft.SecurityInsights/',concat('LogicAppsCustomConnector-', last(split(variables('playbookId'),'/'))))]",
              "properties": {
                "parentId": "[[variables('playbookId')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "LogicAppsCustomConnector",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Okta Single Sign-On",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "support@microsoft.com"
                },
                "support": {
                  "name": "Microsoft Corporation",
                  "email": "support@microsoft.com",
                  "tier": "Microsoft",
                  "link": "https://support.microsoft.com"
                }
              }
            }
          ],
          "metadata": {
            "comments": "This OKTA connector uses okta API to perform different actions on the user accounts.",
            "lastUpdateTime": "2021-06-29T10:00:00.000Z",
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName2')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Okta-EnrichIncidentWithUserDetails playbook",
        "displayName": "Okta-EnrichIncidentWithUserDetails playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName2'),'/',variables('playbookVersion2'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName2'))]"
      ],
      "properties": {
        "description": "Okta-EnrichIncidentWithUserDetails Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion2')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "Okta-EnrichIncidentWithUserDetails",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic Apps resource to be created"
              }
            },
            "CustomConnectorName": {
              "defaultValue": "OktaCustomConnector",
              "type": "string",
              "metadata": {
                "description": "Name of the custom connector which interacts with Okta"
              }
            }
          },
          "variables": {
            "AzureSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "OKTAConnectionName": "[[concat('oktaconnector-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]",
            "_connection-1": "[[variables('connection-1')]",
            "connection-2": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
            "_connection-2": "[[variables('connection-2')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('OKTAConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('AzureSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('AzureSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-2')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "hidden-SentinelTemplateName": "UserEnrichment-Okta",
                "hidden-SentinelTemplateVersion": "1.0",
                "LogicAppsCategory": "security",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('OKTAConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
              ],
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Entities_-_Get_Accounts": {
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/entities/account"
                      }
                    },
                    "For_each-risky_account_received_from_the_incident": {
                      "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                      "actions": {
                        "Add_a_comment_to_the_incident_with_the_information_collected": {
                          "runAfter": {
                            "Create_HTML_table_format_of_user_group_details": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>OKTA Playbook performed the following actions:</strong><br>\n<br>\n<strong>Got User information from OKTA :</strong><br>\n<br>\n<strong>User id: </strong>&nbsp;@{body('Get_User')?['id']}<br>\n<strong>User name: </strong>&nbsp; @{body('Get_User')?['credentials']?['provider']?['name']}<br>\n<strong>User login:</strong> @{body('Get_User')?['profile']?['login']}<br>\n<strong>User email: </strong>@{body('Get_User')?['profile']?['email']}<br>\n<strong>User status:</strong> @{body('Get_User')?['status']}<br>\n<strong>User created: </strong>@{body('Get_User')?['created']}<br>\n<strong>User activated: </strong>@{body('Get_User')?['activated']}<br>\n<strong>User statusChanged:</strong> @{body('Get_User')?['statusChanged']}<br>\n<strong>User lastLogin: </strong>@{body('Get_User')?['lastLogin']}<br>\n<strong>User lastUpdated: </strong>@{body('Get_User')?['lastUpdated']}<br>\n<strong>User passwordChanged:</strong> @{body('Get_User')?['passwordChanged']}<br>\n<br>\n<strong>User is part of below Groups :<br>\n</strong><strong>@{body('Create_HTML_table_format_of_user_group_details')}</strong><strong></strong></p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Create_HTML_table_format_of_user_group_details": {
                          "runAfter": {
                            "For_each_user_group": [
                              "Succeeded"
                            ]
                          },
                          "type": "Table",
                          "inputs": {
                            "columns": [
                              {
                                "header": "GroupID",
                                "value": "@item()?['GroupId']"
                              },
                              {
                                "header": "GroupName",
                                "value": "@item()?['GroupName']"
                              },
                              {
                                "header": "GroupDescription",
                                "value": "@item()?['GroupDescription']"
                              }
                            ],
                            "format": "HTML",
                            "from": "@variables('User Groups')"
                          },
                          "description": "prepare html table format to attach in the incident"
                        },
                        "For_each_user_group": {
                          "foreach": "@body('Get_User_Groups')",
                          "actions": {
                            "Append_groups_to_group_array_variable": {
                              "runAfter": {
                                "Compose_array_of_groups_for_updating_incident_with_group_details": [
                                  "Succeeded"
                                ]
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "User Groups",
                                "value": "@outputs('Compose_array_of_groups_for_updating_incident_with_group_details')"
                              }
                            },
                            "Compose_array_of_groups_for_updating_incident_with_group_details": {
                              "type": "Compose",
                              "inputs": {
                                "GroupDescription": "@items('For_each_user_group')?['profile']?['description']",
                                "GroupId": "@items('For_each_user_group')?['id']",
                                "GroupName": "@items('For_each_user_group')?['profile']?['name']"
                              }
                            }
                          },
                          "runAfter": {
                            "Get_User_Groups": [
                              "Succeeded"
                            ]
                          },
                          "type": "Foreach",
                          "description": "For each user group preparing the list of groups with required details to comment in the incident"
                        },
                        "Get_User": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/api/v1/users/@{encodeURIComponent(items('For_each-risky_account_received_from_the_incident')?['Name'])}"
                          },
                          "description": "This gets the user details from Okta"
                        },
                        "Get_User_Groups": {
                          "runAfter": {
                            "Get_User": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/api/v1/users/@{encodeURIComponent(items('For_each-risky_account_received_from_the_incident')?['Name'])}/groups"
                          },
                          "description": "This gets the user groups from Okta"
                        }
                      },
                      "runAfter": {
                        "Initialize_variable_to_collect_group_details": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Initialize_variable_to_collect_group_details": {
                      "runAfter": {
                        "Entities_-_Get_Accounts": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "User Groups",
                            "type": "array"
                          }
                        ]
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "OktaCustomConnector": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('OKTAConnectionName'))]",
                        "connectionName": "[[variables('OKTAConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]"
                      },
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                        "connectionName": "[[variables('AzureSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId2'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId2')]",
                "contentId": "[variables('_playbookContentId2')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion2')]",
                "source": {
                  "kind": "Solution",
                  "name": "Okta Single Sign-On",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "support@microsoft.com"
                },
                "support": {
                  "name": "Microsoft Corporation",
                  "email": "support@microsoft.com",
                  "tier": "Microsoft",
                  "link": "https://support.microsoft.com"
                },
                "dependencies": {
                  "criteria": [
                    {
                      "kind": "LogicAppsCustomConnector",
                      "contentId": "[variables('_OktaCustomConnector')]",
                      "version": "[variables('playbookVersion1')]"
                    }
                  ]
                }
              }
            }
          ],
          "metadata": {
            "title": "User enrichment - Okta",
            "description": "This playbook will collect user information from Okta and post a report on the incident.",
            "prerequisites": [
              "1. Okta Custom Connector needs to be deployed prior to the deployment of this playbook under the same resource group.",
              "2. Generate an API key. [Learn how](https://developer.okta.com/docs/guides/create-an-api-token/overview/)"
            ],
            "lastUpdateTime": "2021-07-28T00:00:00Z",
            "entities": [
              "Account"
            ],
            "tags": [
              "Enrichment"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName3')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Okta-PromptUser playbook",
        "displayName": "Okta-PromptUser playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName3'),'/',variables('playbookVersion3'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName3'))]"
      ],
      "properties": {
        "description": "Okta-PromptUser Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion3')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "Okta-PromptUser",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App/Playbook"
              }
            },
            "Teams GroupId": {
              "defaultValue": "TeamgroupId",
              "type": "string",
              "metadata": {
                "description": "GroupId of the Team channel"
              }
            },
            "Teams ChannelId": {
              "defaultValue": "TeamChannelId",
              "type": "string",
              "metadata": {
                "description": "Team ChannelId"
              }
            },
            "CustomConnectorName": {
              "defaultValue": "OktaCustomConnector",
              "type": "string",
              "metadata": {
                "description": "Name of the custom connector which interacts with Okta"
              }
            }
          },
          "variables": {
            "AzureSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "OKTAConnectionName": "[[concat('oktaconnector-', parameters('PlaybookName'))]",
            "TeamsConnectionName": "[[concat('teamsconnector-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]",
            "_connection-1": "[[variables('connection-1')]",
            "connection-2": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
            "_connection-2": "[[variables('connection-2')]",
            "connection-3": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/teams')]",
            "_connection-3": "[[variables('connection-3')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('OKTAConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('AzureSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('AzureSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-2')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('TeamsConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "api": {
                  "id": "[[variables('_connection-3')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "hidden-SentinelTemplateName": "PromptUser-Okta",
                "hidden-SentinelTemplateVersion": "1.0",
                "LogicAppsCategory": "security",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('OKTAConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
              ],
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Entities_-_Get_Accounts": {
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/entities/account"
                      }
                    },
                    "For_each-risky_account_received_from_the_incident": {
                      "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                      "actions": {
                        "Condition_based_on_the_user_confirmation": {
                          "actions": {
                            "Add_a_comment_to_the_incident_with_the_information_collected_and_conclusion": {
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "incidentArmId": "@triggerBody()?['object']?['id']",
                                  "message": "<p><strong>OKTA Playbook performed the following actions:<br>\n<br>\nGot User information from OKTA :<br>\n<br>\nUser id: &nbsp;</strong><strong>@{body('Get_User')?['id']}</strong><strong><br>\nUser name: &nbsp; </strong><strong>@{body('Get_User')?['credentials']?['provider']?['name']}</strong><strong><br>\nUser login: </strong><strong>@{body('Get_User')?['profile']?['login']}</strong><strong><br>\nUser email: </strong><strong>@{body('Get_User')?['profile']?['email']}</strong><strong><br>\nUser status: </strong><strong>@{body('Get_User')?['status']}</strong><strong><br>\nUser created: </strong><strong>@{body('Get_User')?['created']}</strong><strong><br>\nUser activated: </strong><strong>@{body('Get_User')?['activated']}</strong><strong><br>\nUser statusChanged: </strong><strong>@{body('Get_User')?['statusChanged']}</strong><strong><br>\nUser lastLogin: </strong><strong>@{body('Get_User')?['lastLogin']}</strong><strong><br>\nUser lastUpdated: </strong><strong>@{body('Get_User')?['lastUpdated']}</strong><strong><br>\nUser passwordChanged: </strong><strong>@{body('Get_User')?['passwordChanged']}</strong><strong><br>\n<br>\nActions taken on Sentinel:<br>\n<br>\n</strong>Incident will be closed as the user confirmed that it was him.</p>"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                              }
                            },
                            "Update_incident_to_close_it": {
                              "runAfter": {
                                "Add_a_comment_to_the_incident_with_the_information_collected_and_conclusion": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "classification": {
                                    "ClassificationAndReason": "Benign Positive - Suspicious But Expected"
                                  },
                                  "incidentArmId": "@triggerBody()?['object']?['id']",
                                  "status": "Closed"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "put",
                                "path": "/Incidents"
                              }
                            }
                          },
                          "runAfter": {
                            "Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Add_a_comment_to_the_incident_with_the_information_collected": {
                                "runAfter": {
                                  "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                  "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p><strong>OKTA Playbook ran and performed the following actions:</strong><br>\n<strong><br>\nGot User information from OKTA :</strong><br>\n<br>\n<strong>User id:</strong> &nbsp;@{body('Get_User')?['id']}<br>\n<strong>User name: </strong>&nbsp; @{body('Get_User')?['credentials']?['provider']?['name']}<br>\n<strong>User login:</strong> @{body('Get_User')?['profile']?['login']}<br>\n<strong>User email: </strong>@{body('Get_User')?['profile']?['email']}<br>\n<strong>User status:</strong> @{body('Get_User')?['status']}<br>\n<strong>User created: </strong>@{body('Get_User')?['created']}<br>\n<strong>User activated: </strong>@{body('Get_User')?['activated']}<br>\n<strong>User statusChanged:</strong> @{body('Get_User')?['statusChanged']}<br>\n<strong>User lastLogin: </strong>@{body('Get_User')?['lastLogin']}<br>\n<strong>User lastUpdated: </strong>@{body('Get_User')?['lastUpdated']}<br>\n<strong>User passwordChanged: </strong>@{body('Get_User')?['passwordChanged']}<br>\n<br>\n<strong>Actions taken on Okta:<br>\n</strong><br>\n<span style=\"font-size: 12px\">Cleared the user sessions and reset the password of the user.<br>\n<br>\n</span><span style=\"font-size: 12px\"><strong>Actions taken on Sentinel:</strong></span><span style=\"font-size: 12px\"><br>\n<br>\nInformed the SOC admin about the risky user and asked him to investigate further</span></p>"
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "path": "/Incidents/Comment"
                                }
                              },
                              "Clear_User_Sessions": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                    }
                                  },
                                  "method": "delete",
                                  "path": "/api/v1/users/@{encodeURIComponent(body('Get_User')?['id'])}/sessions"
                                },
                                "description": "This clears the user sessions in Okta"
                              },
                              "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
                                "runAfter": {
                                  "Reset_Password": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ApiConnectionWebhook",
                                "inputs": {
                                  "body": {
                                    "body": {
                                      "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"large\",\n            \"weight\": \"bolder\",\n            \"text\": \"Azure Sentinel playbook has taken an action on a risky user\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }              \n            ]\n        },\n                 {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Possible compromised user detected by the @{triggerBody()?['object']?['properties']?['severity']} Incident @{triggerBody()?['object']?['properties']?['title']}\",\n                            \"wrap\": true,\n                            \"weight\":\"bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Incident number: @{triggerBody()?['object']?['properties']?['incidentNumber']}\",\n                            \"wrap\": true,\n                            \"weight\":\"bolder\"\n                        },\n         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Incident description\",\n                            \"wrap\": true,\n                            \"weight\":\"bolder\"\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \" @{triggerBody()?['object']?['properties']?['description']}\",\n                            \"wrap\": true                       \n                        },\n                         \n                       {\n            \"type\": \"TextBlock\",\n            \"text\": \"[Click here to view Incident]()\",\n            \"wrap\":\"true\"\n        },                   \n                    \n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                \n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                       \n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"The Okta user in risk:\",\n                            \"wrap\": true,\n                            \"weight\":\"bolder\"\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"User ID: @{body('Get_User')?['id']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"First and Last name: @{body('Get_User')?['profile']?['firstName']} @{body('Get_User')?['profile']?['lastName']}\",\n                            \"wrap\": true\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"User display name: @{items('For_each-risky_account_received_from_the_incident')?['Name']}\",\n                            \"wrap\": true\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Action taken:\",\n                            \n                            \"weight\": \"bolder\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"User password was reset\",\n                         \n                            \"wrap\": true\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"User sessions were cleared\",\n\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Please investigate further in Okta.\",\n                            \"weight\":\"bolder\",\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"auto\"\n                    \n                }\n            ]\n        }\n       \n    ], \n      \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }\n                ],\n    \n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}",
                                      "recipient": {
                                        "channelId": "[[parameters('Teams ChannelId')]"
                                      },
                                      "shouldUpdateCard": true
                                    },
                                    "notificationUrl": "@{listCallbackUrl()}"
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                  },
                                  "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                                  "queries": {
                                    "groupId": "[[parameters('Teams GroupId')]"
                                  }
                                }
                              },
                              "Reset_Password": {
                                "runAfter": {
                                  "Clear_User_Sessions": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "path": "/api/v1/users/@{encodeURIComponent(body('Get_User')?['id'])}/lifecycle/reset_password"
                                },
                                "description": "Reset password link for Okta will be sent to user"
                              }
                            }
                          },
                          "expression": {
                            "or": [
                              {
                                "equals": [
                                  "@body('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response')?['submitActionId']",
                                  "This was me"
                                ]
                              }
                            ]
                          },
                          "type": "If",
                          "description": "user confirmation will be captured here if he has done the malicious activity on the user account"
                        },
                        "Get_User": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/api/v1/users/@{encodeURIComponent(items('For_each-risky_account_received_from_the_incident')?['Name'])}"
                          },
                          "description": "Gets the user details from Okta"
                        },
                        "Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response": {
                          "runAfter": {
                            "Get_User": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnectionWebhook",
                          "inputs": {
                            "body": {
                              "body": {
                                "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"large\",\n            \"weight\": \"bolder\",\n            \"text\": \"New Incident from Azure Sentinel. Please respond ASAP\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"text\": \"Incident Description \",\n            \"wrap\": true,\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"text\":\" @{triggerBody()?['object']?['properties']?['description']}\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"text\": \"Please confirm it was you\",\n            \"wrap\": true,\n            \"weight\": \"Bolder\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"This was me\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"This was not me\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}",
                                "recipient": {
                                  "to": "@body('Get_User')?['profile']?['email']"
                                },
                                "shouldUpdateCard": true
                              },
                              "notificationUrl": "@{listCallbackUrl()}"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['teams']['connectionId']"
                              }
                            },
                            "path": "/flowbot/actions/flowcontinuation/recipienttypes/user/$subscriptions"
                          }
                        }
                      },
                      "runAfter": {
                        "Entities_-_Get_Accounts": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "OktaCustomConnector": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('OKTAConnectionName'))]",
                        "connectionName": "[[variables('OKTAConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]"
                      },
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                        "connectionName": "[[variables('AzureSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      },
                      "teams": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                        "connectionName": "[[variables('TeamsConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/teams')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId3'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId3')]",
                "contentId": "[variables('_playbookContentId3')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion3')]",
                "source": {
                  "kind": "Solution",
                  "name": "Okta Single Sign-On",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "support@microsoft.com"
                },
                "support": {
                  "name": "Microsoft Corporation",
                  "email": "support@microsoft.com",
                  "tier": "Microsoft",
                  "link": "https://support.microsoft.com"
                },
                "dependencies": {
                  "criteria": [
                    {
                      "kind": "LogicAppsCustomConnector",
                      "contentId": "[variables('_OktaCustomConnector')]",
                      "version": "[variables('playbookVersion1')]"
                    }
                  ]
                }
              }
            }
          ],
          "metadata": {
            "title": "Prompt Okta user",
            "description": "This playbook uses the OKTA connector to prompt the risky user on Teams. User is asked action was taken by them. Based on the user confirmation the SOC admin is notified to investige on the user account. Also, comment is added to the incident with user information and summary of actions taken.",
            "prerequisites": [
              "1. Okta Custom Connector needs to be deployed prior to the deployment of this playbook under the same resource group.",
              "2. Generate an API key. [Learn how](https://developer.okta.com/docs/guides/create-an-api-token/overview/)"
            ],
            "lastUpdateTime": "2021-07-28T00:00:00Z",
            "entities": [
              "Account"
            ],
            "tags": [
              "Enrichment"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName4')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Okta-ResponseFromTeams playbook",
        "displayName": "Okta-ResponseFromTeams playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName4'),'/',variables('playbookVersion4'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName4'))]"
      ],
      "properties": {
        "description": "Okta-ResponseFromTeams Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion4')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "Okta-ResponseFromTeams",
              "type": "String",
              "metadata": {
                "description": "Name of the Logic App/Playbook"
              }
            },
            "SOC Email": {
              "defaultValue": "",
              "type": "String",
              "metadata": {
                "description": "Email alias of the SOC team"
              }
            },
            "Teams GroupId": {
              "defaultValue": "TeamgroupId",
              "type": "String",
              "metadata": {
                "description": "GroupId of the Team channel"
              }
            },
            "Teams ChannelId": {
              "defaultValue": "TeamChannelId",
              "type": "String",
              "metadata": {
                "description": "Team ChannelId"
              }
            },
            "CustomConnectorName": {
              "defaultValue": "OktaCustomConnector",
              "type": "string",
              "metadata": {
                "description": "Name of the custom connector which interacts with Okta"
              }
            }
          },
          "variables": {
            "AzureSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "OKTAConnectionName": "[[concat('oktaconnector-', parameters('PlaybookName'))]",
            "TeamsConnectionName": "[[concat('teamsconnector-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]",
            "_connection-1": "[[variables('connection-1')]",
            "connection-2": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
            "_connection-2": "[[variables('connection-2')]",
            "connection-3": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/teams')]",
            "_connection-3": "[[variables('connection-3')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('OKTAConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('AzureSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('AzureSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-2')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('TeamsConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "api": {
                  "id": "[[variables('_connection-3')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "hidden-SentinelTemplateName": "ResponseOnOktaUserTeams-Okta",
                "hidden-SentinelTemplateVersion": "1.0",
                "LogicAppsCategory": "security",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('OKTAConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
              ],
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Compose_the_choice_set_dropdown_for_adaptive_card_for_group_names": {
                      "runAfter": {
                        "For_each_group": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Select_groups')?[0]?['body']"
                    },
                    "Entities_-_Get_Accounts": {
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/entities/account"
                      },
                      "runtimeConfiguration": {
                        "staticResult": {
                          "staticResultOptions": "Disabled",
                          "name": "Entities_-_Get_Accounts0"
                        }
                      }
                    },
                    "For_each-risky_account_received_from_the_incident": {
                      "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                      "actions": {
                        "Add_a_comment_to_the_incident_with_the_information_collected_and_action_taken": {
                          "runAfter": {
                            "Update_incident_to_change_severity_and_status_according_to_choice": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@body('Update_incident_to_change_severity_and_status_according_to_choice')?['id']",
                              "message": "<p><strong>OKTA Playbook ran and performed the following actions:<br>\n<br>\nGot User information from OKTA :<br>\n<br>\nUser id</strong>: &nbsp;@{body('Get_User')?['id']}<br>\n<strong>User name</strong>: &nbsp; @{body('Get_User')?['credentials']?['provider']?['name']}<br>\n<strong>User login</strong>: @{body('Get_User')?['profile']?['login']}<br>\n<strong>User email</strong>: @{body('Get_User')?['profile']?['email']}<br>\n<strong>User status: </strong>@{body('Get_User')?['status']}<br>\n<strong>User created:</strong> @{body('Get_User')?['created']}<br>\n<strong>User activated:</strong> @{body('Get_User')?['activated']}<br>\n<strong>User statusChanged:</strong> @{body('Get_User')?['statusChanged']}<br>\n<strong>User lastLogin:</strong> @{body('Get_User')?['lastLogin']}<br>\n<strong>User lastUpdated:</strong> @{body('Get_User')?['lastUpdated']}<br>\n<strong>User passwordChanged: </strong>@{body('Get_User')?['passwordChanged']}<br>\n<br>\n<strong>Actions taken on Sentinel:<br>\n</strong><br>\n<strong>Incident close reason</strong>: @{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['incidentStatus']}<br>\n<strong>Action taken on User</strong>: @{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['submitActionId']}</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Get_User": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/api/v1/users/@{encodeURIComponent(items('For_each-risky_account_received_from_the_incident')?['Name'])}"
                          },
                          "description": "This gets the user details from Okta"
                        },
                        "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
                          "runAfter": {
                            "Get_User": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnectionWebhook",
                          "inputs": {
                            "body": {
                              "body": {
                                "messageBody": " {\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n       \n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"large\",\n            \"weight\": \"bolder\",\n            \"text\": \"Suspicious identity - Azure Sentinel\",\n            \"wrap\": true\n        },\n         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Possible Comprised User detected by the provider\",\n                            \"wrap\": true\n                        },\n         {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()?['object']?['properties']?['severity']} incident @{triggerBody()?['object']?['properties']?['title']} \",\n            \"wrap\": true,\n            \"weight\":\"bolder\"\n        },\n        \n         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Incident description\",\n                            \"wrap\": true,\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\":\" @{triggerBody()?['object']?['properties']?['description']}\",\n                            \"wrap\": true\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})\",\n                            \"wrap\": true\n                        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                       \n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Risky user details from Okta:\",\n                            \"wrap\": true,\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"UserID: @{body('Get_User')?['id']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"First and Last name: @{body('Get_User')?['profile']?['firstName']} @{body('Get_User')?['profile']?['lastName']}\",\n                            \"wrap\": true\n                        },\n                       {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"User display name: @{items('For_each-risky_account_received_from_the_incident')?['Name']}\",\n                            \"wrap\": true\n                        },\n                     {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Status: @{body('Get_User')?['status']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Status changed: @{body('Get_User')?['statusChanged']}\",\n                            \"wrap\": true\n                        },\n                       {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Last login: @{body('Get_User')?['lastLogin']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Last updated: @{body('Get_User')?['lastUpdated']}\",\n                            \"wrap\": true\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Password changed: @{body('Get_User')?['passwordChanged']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"size\": \"Medium\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Incident configuration:\",\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Close Azure Sentinal incident?\"\n        },\n        {\n            \"choices\": [\n                {\n                    \"isSelected\": true,\n                    \"title\": \"Close incident - False Positive\",\n                    \"value\": \"False Positive - Incorrect Alert Logic\"\n                },\n                {\n                    \"title\": \"Close incident - True Positive\",\n                    \"value\": \"True Positive - Suspicious Activity\"\n                },\n                {\n                    \"title\": \"Close incident - Benign Positive\",\n                    \"value\": \"Benign Positive - Suspicious But Expected\"\n                },\n                {\n                    \"title\": \"No\",\n                    \"value\": \"no\"\n                }\n            ],\n            \"id\": \"incidentStatus\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"Benign Positive - Suspicious But Expected\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Change Azure Sentinel incident severity?\"\n        },\n        {\n            \"choices\": [\n                {\n                    \"title\": \"Medium\",\n                    \"value\": \"Medium\"\n                },\n                {\n                    \"title\": \"High\",\n                    \"value\": \"High\"\n                },\n                {\n                    \"title\": \"Low\",\n                    \"value\": \"Low\"\n                },\n                {\n                    \"title\": \"Don't change\",\n                    \"value\": \"same\"\n                }\n            ],\n            \"id\": \"incidentSeverity\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"@{triggerBody()?['object']?['properties']?['severity']}\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Response in Okta\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"Image\",\n            \"style\": \"Person\",\n            \"url\": \"https://seekvectorlogo.com/wp-content/uploads/2017/12/okta-vector-logo.png\",\n            \"size\": \"Small\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Change user state (suspend)\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Change user state (unsuspend)\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Expire password\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Reset password\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Ignore\"\n        },\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Add user to group\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                 \"body\":[\n                     {\n            \"type\": \"Input.ChoiceSet\",\n            \"id\": \"GroupId\",\n            \n            \"value\": \"1\",\n            \"choices\": @{outputs('Select_groups')?[0]?['body']}\n\n        }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n                \"version\": \"1.2\"\n            }\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}",
                                "recipient": {
                                  "channelId": "[[parameters('Teams ChannelId')]"
                                },
                                "shouldUpdateCard": true
                              },
                              "notificationUrl": "@{listCallbackUrl()}"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['teams']['connectionId']"
                              }
                            },
                            "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                            "queries": {
                              "groupId": "[[parameters('Teams GroupId')]"
                            }
                          }
                        },
                        "Switch_to_perform_action_choices_on_the_user_in_Okta": {
                          "runAfter": {
                            "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                              "Succeeded"
                            ]
                          },
                          "cases": {
                            "Case_-_Add_user_to_group": {
                              "case": "OK",
                              "actions": {
                                "Group_–_Add_member": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                      }
                                    },
                                    "method": "put",
                                    "path": "/api/v1/groups/@{encodeURIComponent(body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['GroupId'])}/users/@{encodeURIComponent(body('Get_User')?['id'])}"
                                  }
                                }
                              }
                            },
                            "Case_-_Expire_Password": {
                              "case": "Expire password",
                              "actions": {
                                "Expire_Password": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "path": "/api/v1/users/@{encodeURIComponent(body('Get_User')?['id'])}/lifecycle/expire_password"
                                  }
                                }
                              }
                            },
                            "Case_-_Reset_Password": {
                              "case": "Reset password",
                              "actions": {
                                "Reset_Password": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "path": "/api/v1/users/@{encodeURIComponent(body('Get_User')?['id'])}/lifecycle/reset_password"
                                  }
                                }
                              }
                            },
                            "Case_-_Suspend_User": {
                              "case": "Change user state (suspend)",
                              "actions": {
                                "Suspend_User": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "path": "/api/v1/users/@{encodeURIComponent(body('Get_User')?['id'])}/lifecycle/suspend"
                                  }
                                }
                              }
                            },
                            "Case_-_Unsuspend_User": {
                              "case": "Change user state (unsuspend)",
                              "actions": {
                                "Unsuspend_User": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "path": "/api/v1/users/@{encodeURIComponent(body('Get_User')?['id'])}/lifecycle/unsuspend"
                                  }
                                }
                              }
                            }
                          },
                          "expression": "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['submitActionId']",
                          "type": "Switch"
                        },
                        "Update_incident_to_change_severity_and_status_according_to_choice": {
                          "runAfter": {
                            "Switch_to_perform_action_choices_on_the_user_in_Okta": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "classification": {
                                "ClassificationAndReason": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['incidentStatus']}"
                              },
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "severity": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['incidentSeverity']}",
                              "status": "Closed"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "put",
                            "path": "/Incidents"
                          }
                        }
                      },
                      "runAfter": {
                        "Compose_the_choice_set_dropdown_for_adaptive_card_for_group_names": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "For_each_group": {
                      "foreach": "@body('List_Groups')",
                      "actions": {
                        "Select_groups": {
                          "type": "Select",
                          "inputs": {
                            "from": "@body('List_Groups')",
                            "select": {
                              "title": "@item()?['profile']?['name']",
                              "value": "@item()?['id']"
                            }
                          },
                          "description": "preparing the group name and id from the list of groups to display in the adaptive card for user choice"
                        }
                      },
                      "runAfter": {
                        "List_Groups": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach",
                      "description": "For each group preparing the list of groups with required details to display in the adaptive card for user choice"
                    },
                    "List_Groups": {
                      "runAfter": {
                        "Entities_-_Get_Accounts": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['OktaCustomConnector']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/api/v1/groups"
                      },
                      "description": "This provides list of groups present in Okta domain"
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "OktaCustomConnector": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('OKTAConnectionName'))]",
                        "connectionName": "[[variables('OKTAConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]"
                      },
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                        "connectionName": "[[variables('AzureSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      },
                      "teams": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                        "connectionName": "[[variables('TeamsConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/teams')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId4'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId4')]",
                "contentId": "[variables('_playbookContentId4')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion4')]",
                "source": {
                  "kind": "Solution",
                  "name": "Okta Single Sign-On",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "support@microsoft.com"
                },
                "support": {
                  "name": "Microsoft Corporation",
                  "email": "support@microsoft.com",
                  "tier": "Microsoft",
                  "link": "https://support.microsoft.com"
                },
                "dependencies": {
                  "criteria": [
                    {
                      "kind": "LogicAppsCustomConnector",
                      "contentId": "[variables('_OktaCustomConnector')]",
                      "version": "[variables('playbookVersion1')]"
                    }
                  ]
                }
              }
            }
          ],
          "metadata": {
            "title": "Response on Okta user from Teams",
            "description": "This playbooks sends an adaptive card to the SOC Teams channel with information about the Okta user and incident details. The SOC is allowed to take action such suspend, reset password, expire password, add to group. An informative comment will be posted to the incident.",
            "prerequisites": [
              "1. Okta Custom Connector needs to be deployed prior to the deployment of this playbook under the same resource group.",
              "2. Generate an API key. [Learn how](https://developer.okta.com/docs/guides/create-an-api-token/overview/)"
            ],
            "lastUpdateTime": "2021-07-28T00:00:00Z",
            "entities": [
              "Account"
            ],
            "tags": [
              "Remediation"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "apiVersion": "2022-01-01-preview",
      "properties": {
        "version": "2.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "2.0.0",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "Okta Single Sign-On",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Microsoft",
          "email": "support@microsoft.com"
        },
        "support": {
          "name": "Microsoft Corporation",
          "email": "support@microsoft.com",
          "tier": "Microsoft",
          "link": "https://support.microsoft.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "LogicAppsCustomConnector",
              "contentId": "[variables('_OktaCustomConnector')]",
              "version": "[variables('playbookVersion1')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Okta-EnrichIncidentWithUserDetails')]",
              "version": "[variables('playbookVersion2')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Okta-PromptUser')]",
              "version": "[variables('playbookVersion3')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Okta-ResponseFromTeams')]",
              "version": "[variables('playbookVersion4')]"
            }
          ]
        },
        "firstPublishDate": "2022-03-24",
        "providers": [
          "Microsoft "
        ],
        "categories": {
          "domains": [
            "Identity"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
